body{
    width:740px;
}

.container{
    width:740px;
    background:transparent url("../../assets/images/background.png");
    border:1px solid black;
}
h2{
    background:burlywood;
    padding:10px 0px 10px 0px;
    margin-top:10px;
    text-align: left;
}
.instructions{
    background:lightgoldenrodyellow;
    color:green;
}
.random-num{
    background:green;
    margin-left:15px;    
    margin-bottom:5px;
    
}
.win-los{
    background:skyblue;
    margin-bottom:5px;
    margin-left:15px;
}
.score-card{
    margin-top:5px;
    margin-left:15px;
    background:lightgreen;
    margin-bottom:5px;
}

/*#red-crystal:hover, #blue-crystal:hover, #yellow-crystal:hover, #green-crystal:hover{
  animation-name: imgrotate;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
}*/

@keyframes imgrotate {
   0%{transform:rotate3d(1, 1, 1, 360deg)
}}