body{
    background:transparent url("../../assets/images/background.png");
    background-repeat: repeat-y;
    background-size:740px;

}
body, html,.container{
    width:740px;
}
h2{
    background:burlywood;
    padding:10px 0px 10px 0px;
    margin-top:10px;
    text-align: left;
}
.instructions{
    background:lightgoldenrodyellow;
    color:green;
}
.random-num{
    background:green;
    margin-left:15px;
    margin-right:5px;
    margin-bottom:5px;
    
}
.win-los{
    background:skyblue;
    margin-bottom:5px;
}
.score-card{
    margin-top:5px;
    margin-left:15px;
    background:lightgreen
}